        <div class="col-md-6">
          <div class="panel panel-default " id="41120">
            <div class="panel-body">
              <i class="fa fa-heart favorite_box fa-lg added_favorite" onclick="addFavorite(41120, this)"></i>
              <i class="fa fa-refresh close_box fa-lg" onclick="AjaxFetch(41120)"></i>

              <div class="panel-header" id="header_41120" style=""><h4>Green line - 35th-Bronzeville-IIT</h4></div>
              <div class="col-md-offset-1">
                <div id="destination_1_41120"><h5>Service toward Harlem/Lake</h5><h6 class="train_results">train #608 - <span class="time_result">7 minutes</span></h6><h6 class="train_results">train #009 - <span class="time_result">13 minutes</span></h6></div>
                <div id="destination_5_41120"><h5>Service toward 63rd St</h5><h6 class="train_results">train #604 - <span class="time_result">3 minutes</span></h6><h6 class="train_results">train #606 - <span class="time_result">17 minutes</span></h6></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default " id="41120">
            <div class="panel-body">
              <i class="fa fa-heart favorite_box fa-lg added_favorite" onclick="addFavorite(41120, this)"></i>
              <i class="fa fa-refresh close_box fa-lg" onclick="AjaxFetch(41120)"></i>

              <div class="panel-header" id="header_41120" style=""><h4>Bus #38 - Lake Shore</h4></div>
              <div class="col-md-offset-1">
                <div id="destination_1_41120"><h5>Service toward Harlem/Lake</h5><h6 class="train_results">train #608 - <span class="time_result">7 minutes</span></h6><h6 class="train_results">train #009 - <span class="time_result">13 minutes</span></h6></div>
                <div id="destination_5_41120"><h5>Service toward 63rd St</h5><h6 class="train_results">train #604 - <span class="time_result">3 minutes</span></h6><h6 class="train_results">train #606 - <span class="time_result">17 minutes</span></h6></div>
              </div>
            </div>
          </div>
        </div>
                <div class="col-md-6">
          <div class="panel panel-default " id="41120">
            <div class="panel-body">
              <i class="fa fa-heart favorite_box fa-lg added_favorite" onclick="addFavorite(41120, this)"></i>
              <i class="fa fa-refresh close_box fa-lg" onclick="AjaxFetch(41120)"></i>

              <div class="panel-header" id="header_41120" style=""><h4>Green line - 35th-Bronzeville-IIT</h4></div>
              <div class="col-md-offset-1">
                <div id="destination_1_41120"><h5>Service toward Harlem/Lake</h5><h6 class="train_results">train #608 - <span class="time_result">7 minutes</span></h6><h6 class="train_results">train #009 - <span class="time_result">13 minutes</span></h6></div>
                <div id="destination_5_41120"><h5>Service toward 63rd St</h5><h6 class="train_results">train #604 - <span class="time_result">3 minutes</span></h6><h6 class="train_results">train #606 - <span class="time_result">17 minutes</span></h6></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default " id="41120">
            <div class="panel-body">
              <i class="fa fa-heart favorite_box fa-lg added_favorite" onclick="addFavorite(41120, this)"></i>
              <i class="fa fa-refresh close_box fa-lg" onclick="AjaxFetch(41120)"></i>

              <div class="panel-header" id="header_41120" style=""><h4>Bus #38 - Lake Shore</h4></div>
              <div class="col-md-offset-1">
                <div id="destination_1_41120"><h5>Service toward Harlem/Lake</h5><h6 class="train_results">train #608 - <span class="time_result">7 minutes</span></h6><h6 class="train_results">train #009 - <span class="time_result">13 minutes</span></h6></div>
                <div id="destination_5_41120"><h5>Service toward 63rd St</h5><h6 class="train_results">train #604 - <span class="time_result">3 minutes</span></h6><h6 class="train_results">train #606 - <span class="time_result">17 minutes</span></h6></div>
              </div>
            </div>
          </div>
        </div>
