<div class="container">

  <!-- SEARCH INPUT -->
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <span class="input">
        <input class="input__field" type="text" id="search" placeholder="Type any station or line..."
         onfocus="this.placeholder = ''" onblur="this.placeholder = 'Type any station or line...'" />
         <!-- maybe to add later <span class="glyphicon glyphicon-remove" id="delete" aria-hidden="true"></span> -->
      </span>
    </div>
  </div>

  <!-- RESULTS of SEARCH -->
  <div class="row">
    <div id="lines_searched" class="col-md-offset-2 col-md-8">
    <div id="trains"></div>
    <div id="Bus"
    </div>
  </div>
</div>
