<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <span class="input">
        <input class="input__field" type="text" id="search" placeholder="Type any address, station or line..."
         onfocus="this.placeholder = ''" onblur="this.placeholder = 'Type any address, station or line...'" />
         <span class="glyphicon glyphicon-remove" id="delete" aria-hidden="true"></span>
      </span>
    </div>
  </div>
</div>
