<div class="container">

  <!-- SEARCH INPUT -->
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <span class="input">
        <input class="input__field" type="text" id="search" placeholder="Type any bus or train line..."
         onfocus="this.placeholder = ''" onblur="this.placeholder = 'Type any bus or train line...'" />
         <!-- maybe to add later <span class="glyphicon glyphicon-remove" id="delete" aria-hidden="true"></span> -->
      </span>
    </div>
  </div>

  <!-- STATIONS NEAR MY ADDRESS -->
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="text-center">
        <a class="link-customized underlined" href="/directions"><h4>Or look for a direction!</h4></a>
    </div>
  </div>

  <!-- RESULTS of SEARCH -->
  <div class="row">
    <div id="lines_searched" class="col-md-offset-2 col-md-8">
      <div id="trains"></div>
      <div id="bus"></div>
    </div>

    <!-- Favorites -->
    <div clas="row">
      <div id="favorites" class="col-md-offset-2 col-md-8">
        <!-- IF  NOT LOGGED IN -->
<!--         <div class="text-center">
          <h3> Have your favorite routes here! </h3>
          <h4> Register or login now!</h4>
        </div> -->

       <!--  IF LOGGED IN -->
        <div class="text-center">
          <h3> Your favorites</h3>
        </div>
        <%= render 'cta_schedule/favorite' %>
      </div>
    </div>
  </div>
</div>
