// Place all the styles related to the cta_schedule controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// GENERAL STYLING

html, body {
  background-color: #efefef;
  font-family: 'Lato', serif;
  font-weight: 300;
  font-size: 200;
}


// NAVBAR

.link-customized {
  color: #444;
}

.underlined {
text-decoration: underline;
}
.navbar-brand {
  font-size: 30px;
}

.navbar-nav {
  font-size: 20px;

}


.close_box {
  position: absolute;
  top: 50px;
  right: 30px;
}

.favorite_box {
  position: absolute;
  top: 50px;
  right: 60px;
  color: grey;
}

.refresh_box{
  position: absolute;
  top: 50px;
  right: 100px;
}

.added_favorite {
  color: red;
}

.hidden_div {
  visibility: hidden;
  height:0px;
  margin: 0px;
}


.time_result{
  color: green;
}
