// Place all the styles related to the cta_schedule controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// GENERAL STYLING
.no-margin {
  margin: 0;
}

.results {
  margin-top: 20px;
}

.direction-icon {
  width: 20px;
  height: auto;
}

.expend {
  position: absolute;
  bottom: 0;
  text-align: center;
}

.options:hover, .options:focus, .options:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

